<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.elashry.refaq">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.Family_2"

            android:label="hjkhkhkkj"
            android:parentActivityName=".Activities.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.IntroActivity" />
        </activity>
        <activity
            android:name=".Activities.AuthActivity"
            android:label="@string/title_activity_auth"
            android:parentActivityName=".Activities.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.IntroActivity" />

        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Activities.IntroActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.IntroActivity" />
        </activity>
        <activity android:name=".Activities.RegisterKafeel" />
        <activity android:name=".Activities.RegisterFakeer" />
        <activity android:name=".Activities.RegisterFamily" />
        <activity android:name=".Activities.Registermtabr3" />
        <activity
            android:name=".Activities.News"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.About" />
        <activity android:name=".Activities.Programs" />
        <activity
            android:name=".Activities.CallUs"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>